<!DOCTYPE html>
<html lang= "es">
<head>
    <meta charset="utf-8"/>
    <title>
        The Space Chiken
    </title>
    <meta name="descripcion" content="Pagina de diseño web"/>
    <meta Douglas Jimenez/>
    <meta name="keywords" content="desarrollo web, diseño web, Costa Rica"/>
    <link rel="stylesheet" type="text/css" href="static/style.css">
</head>
<body>
    <h1>
        The Space Chiken 
    </h1>
<h2>
    
    Diseño web  

</h2>

<nav>
    <ul>
        <li>Principal</li>
        <li>Ayuda</li>
        <li>Contacto</li>
    </ul>
      
</nav>
<section>
    <article>
        <hgroup>
            <h1>¿Quienes somos?</h1>
        </hgroup>
    
    <time datetime="11/05/21">Publicado 11/05/2021</time>
    
    <p>
        Somos una empresa líder en servicios de <span>Desarrollo Web</span>. Ofrecemos soluciones de calidad, generadas por expertos en la industria. Sabemos optimizar sitios para crear experiencias personalizadas y únicas de diseño y rendimiento

    </p>
    </article>

    <article>
        <hgroup>
            <h1>¿Que hacemos?</h1>
        </hgroup>
    
    <p>El diseño web es un área enfocada en el desarrollo de interfaces digitales, como el diseño de sitios y aplicaciones para web. Para ello, los diseñadores web crean las páginas utilizando lenguajes de marcado como HTML.</p>
    </article>


</section>

<aside>
    <h3>
    
        Informacion   

         <a href="https://www.instagram.com/doug.jb/">Visita nuestro instagram</a>

         <address>
             <a href="https://www.google.com/"> Visita google</a>
         </address>
       
    
    </h3>

    <ul>
        <il>Archivo</il>
        <il>Correo</il>
        <il>Numero telefonico</il>
    </ul>
    
</aside>

<footer>
Facebook
Instagram
Whatsapp
</footer>

<img src="static/space_chiken.jpg"/>

</body>
   
  



</html>


